<div class="container">

    <p>Form id: {{selectedFormId}}</p>

    <form novalidate>
        <formly-form model="model" fields="generatedFormFields.data">
            <!--<button type="submit" class="btn btn-primary submit-button">Submit</button>-->
            <button ng-click="saveAnswer()" class="btn btn-primary submit-button">Submit</button>
        </formly-form>
    </form>

    <p>
    <div ng-show="alert.ok" class="alert alert-success" role="alert">{{alert.ok}}</div>
    <div ng-show="alert.error" class="alert alert-success" role="alert">{{alert.error}}</div>
    </p>

    <p/>
    <p/>

    <p>Show debug info: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></p>
    <pre ng-show="checked">{{model | json}}</pre>
    <pre ng-show="checked">{{questionnaireAnswer | json}}</pre>
</div>

