<div class="container">
    <table class="table">
        <tr>
            <th>Form title</th>
            <th>Id</th>
            <th>Date</th>
            <th>View</th>
        </tr>
        <tr ng-repeat="q in questionnaireList.entry">
            <td>{{q.resource.group.title}}</td>
            <td>{{q.resource.id}}</td>
            <td>{{q.resource.date}}</td>
            <td><a class="btn btn-primary btn-block" href="#/form/{{q.resource.id}}">View</a> </td>
        </tr>
    </table>

    <table class="table">
        <tr>

            <th>Id</th>
            <th>Date</th>
            <th>Form</th>
        </tr>
        <tr ng-repeat="r in questionnaireResponses.entry">
            <td>{{r.resource.id}}</td>
            <td>{{r.resource.meta.lastUpdated}}</td>
            <td>{{getFormDescription(r.resource.questionnaire.reference)}}</td>
            <!--<td><a class="btn btn-primary btn-block" data-toggle="modal" href="#/view/{{r.resource.id}}">{{getFormDescription(r.resource.questionnaire.reference)}}</a></td>-->
        </tr>
    </table>

</div>