<div class="container">
    <h1>Edit form </h1>
    <p>Form id: {{selectedFormId}}</p>
    <textarea  rows="40" cols="50" class="form-control" ng-model="questionnaireString"></textarea>
    <p><button class="btn btn-default" ng-click="updateForm(questionnaireString, selectedFormId)">Update form on server</button></p>
    <p><button class="btn btn-default" ng-click="saveAsNewForm(questionnaireString)">Save as new form on server</button></p>
</div>
