<div class="container">
<p>
    <form class="form-inline">
        <div class="form-group">
            <label for="save">Patient: {{patientName}} ({{patientId}})</label>
        </div>
    <div ng-hide="sensorValues.deviceType" class="form-group">Turn on your sensor</div>

    <div ng-show="sensorValues.SpO2WithUnit" class="form-group">
            <label for="SpO2">SpO2</label>
            <input type="text" class="form-control" id="SpO2" placeholder="%" ng-model="sensorValues.SpO2WithUnit">
        </div>
        <div ng-show="sensorValues.pulseWithUnit" class="form-group">
            <label for="pulse">Pulse</label>
            <input type="text" class="form-control" id="pulse" placeholder="bpm"
                   ng-model="sensorValues.pulseWithUnit">
        </div>
        <button ng-show="sensorValues.pulseWithUnit" id="savePulse" type="submit" class="btn btn-default btn-block"
                ng-click="savePulseOximeterData(patientId, sensorValues.SpO2, sensorValues.pulse)">Save Pulse Oximeter
            data to cloud
        </button>


        <div class="form-group" ng-show="sensorValues.kg">
            <label for="kg">Weight</label>
            <input type="text" class="form-control" id="kg" placeholder="kg"
                   ng-model="sensorValues.kgWithUnit">
        <button id="saveWeight" type="submit" class="btn btn-default btn-block"
                ng-click="saveWeight(patientId, sensorValues.kg)">Save weight to cloud
        </button>
        </div>

        <div class="form-group" ng-show="sensorValues.sys">
            <label for="bp">Blood Pressure</label>
            <input type="text" class="form-control" id="bp" placeholder="Blood Pressure"
                   ng-model="sensorValues.sys_dia">
            <button id="saveBP" type="submit" class="btn btn-default btn-block"
                    ng-click="saveBP(patientId, sensorValues.sys, sensorValues.dia)">Save blood pressure to cloud
            </button>
        </div>
    </form>
    </p>
</div>

<div class="container">
    <p>
        <a class="btn btn-default btn-block" href="#/settings">Settings</a></p>

</div>
